<header>
    <br>
    <h1>The Hunt</h1>

</header>
<article>
    <div>
        <div id="container">
            <div id="status">
                
                
                <div id="targetloc">
                    <br />
                <p> To Start the game</p>
                <p> Click Here!</p>
                <br />
                </div>
                <div id="lbl"></div>
                <br />
                <div id="device-lat1"></div>
                <br />
                <div id="device-long1"></div>
            </div>
            <div id="status1">
                
                
                <div id="location">
                <p>To check the progress Click Here!</p>
                </div>
                <div id="error-message"></div>
                <div id="device-lat"></div>
                <div id="device-long"></div>
            </div>
        </div>
    </div>
</article>
<script type="module" src="./scripts/main.js"></script>
<hr>
<ul class="nav nav-pills mb-3">
    <li class="nav-item" role="presentation">
        <a class="nav-link nw hvr-grow-shadow" style="background-color: black; color: white;"rel="noopener" href='/location'>Locations</a>
    </li>
</ul>